{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Vue.js grid component example</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- <script src="{% static 'js/utill.js' %}" charset="utf-8"></script> -->
</head>

<script type="text/javascript">

  /*function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }*/

  function getRelations(thisObj){
    //var csrftoken = getCookie('csrftoken');
    $.ajax({
      url: "{% url 'skill_relation' %}",
      data: "skill_name=" + $(thisObj).text(),
      type: "post",
      dataType: "json",
      headers: {'X-CSRFToken': '{{ csrf_token }}'}, // csrf_token값을 설정해야만 통신할 수 있음.
      // beforeSend: function(xhr, settings) {
      //     if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
      //         xhr.setRequestHeader("X-CSRFToken", csrftoken);
      //     }
      // },
      success: function(data){
        var skill_name = "";
        $.each(data, function(key, value){
          skill_name += value.skill_name;
          if(key != data.length-1){
            skill_name += ", ";
          }
        });

        $(thisObj).next().next().text(skill_name);
      },
      error: function(jqXHR, textStatus, errorThrown){
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
      }
    });
  }
</script>

<body>
    <table>
        <thead>
            <tr>
                <th class="">기술명<span class="arrow asc"></span></th>
                <th class="">업급횟수<span class="arrow asc"></span></th>
                <th class="">관련기술<span class="arrow asc"></span></th>
            </tr>
        </thead>
        <tbody>
            {% for skill in list %}
            <tr>
                <td onclick="getRelations(this)">{{ skill.skill_name }}</td>
                <td>{{ skill.total }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if list.has_previous %}
                <a href="?page={{ list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ list.number }} of {{ list.paginator.num_pages }}.
            </span>

            {% if list.has_next %}
                <a href="?page={{ list.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</body>

</html>
