{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Vue.js grid component example</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
</head>

<script type="text/javascript">
  function getRelations(thisObj){
    //console.log($(thisObj).text());
  }
</script>

<body>
    <table>
        <thead>
            <tr>
                <th class="">Name<span class="arrow asc"></span></th>
                <th class="">Power<span class="arrow asc"></span></th>
            </tr>
        </thead>
        <tbody>
            {% for skill in list %}
            <tr>
                <td onclick="getRelations(this)">{{ skill.skill_name }}</td>
                <td>{{ skill.total }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if list.has_previous %}
                <a href="?page={{ list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ list.number }} of {{ list.paginator.num_pages }}.
            </span>

            {% if list.has_next %}
                <a href="?page={{ list.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</body>

</html>
